/*바탕 이미지*/
body{
	background-image: url(abcd.png);
	background-repeat: no-repeat;
	background-position: 680px 2400px;
	background-size: 400px;
	font-family: serif;
	font-size: 19px;
	line-height: 25px;	/*행간*/
	background-color: #333333;	/*배경 색*/
	color: white;	/*글씨 색*/
	text-indent: 15em;	/*들여쓰기*/
}
/*이전페이지 이동 버튼*/
#lastbutton{
	width: 13%;
	padding: 10px;
	font-size: 15px;
	position: absolute; left: 150px; bottom: -2000px;
	border-radius: 10px;	
}
/*다음 페이지 이동 버튼*/
#nextbutton{
	width: 13%;
	padding: 10px;
	font-size: 15px;
	position: absolute; right: 150px; bottom: -2000px;
	border-radius: 10px;	
}

#title{	/*haryr pother 디자인*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height:300px;
}
/*#lamp{
	position: absolute; top: 0px; right: 0px;
	opacity: 0.5;
}*/

#logo{
	width: 350px;
	position: absolute; left: 10px; top: 0px;
	opacity: 0.3;
}
#logo2{
	width: 350px;
	position: absolute; right: 10px; top: 0px;
	opacity: 0.3;
}
/*#abcd{
	background-attachment: fixed;
	position: absolute; right: 200px; top: 550px; left: auto;
	opacity: 0.3;
}*/
/*#box{

	background-color: white;
	color: black;
}

.box{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 2300px;
	border: 0px solid padding: 40px;
	border-radius: 10px;
}*/
