/*바탕 이미지*/
body{
	font-family: serif;
	color: white;
	background-image: url(http://cafefiles.naver.net/20110121_121/soluteone_1295618483147gutLy_jpg/hogwartsmatte1c2_%282%29_soluteone.jpg);
	text-align: center;	
}
/*표 꾸미기*/
table{
	/*표 상단 테두리*/
	border-top: 1px solid #444444;
	/* 크기 고정*/
	width: 80%;
	/*표 테두리 얇게*/
	border-collapse: collapse;
	/* 표 가운데 정렬*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*표 가로줄 생성*/
th,td{
	border-bottom: 1px solid #444444;
}

/*이전페이지 이동 버튼*/
#lastbutton{
	width: 20%;
	padding: 5px;
	position: absolute; left: 110px; bottom: 150px;
	border-radius: 10px;
	
}
/*다음 페이지 이동 버튼*/
#nextbutton{
	width: 20%;
	padding: 5px;
	position: absolute; right: 110px; bottom: 150px;
	border-radius: 10px;
	cursor: pointer;
}
/*질문 정렬*/
.Question{
	text-align: left;
}

h1{
	font-family: "Eater", cursive;
}




