body{
  /*바탕색*/
  background-color: #333333;

}

#result {
  text-align: center;
}

.main {
  overflow-x: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%; height: 550px;
  border: 0px solid; padding: 40px;
  border-radius: 30px;
}


.love {
  overflow: auto;
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%; height: 170px;
  border: 0px solid; padding: 40px;
  border-radius: 30px;
}

.mbti {
  overflow: auto;
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%; height: 250px;
  border: 0px solid; padding: 40px;
  border-radius: 30px;
}

.member {
  overflow: auto;
  margin-top: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%; height: 120px;
  border: 0px solid; padding: 40px;
  border-radius: 30px;
}

#gryffindor {
  background-color: #800000;
  color: #ffd700;
}

#slytherin {
  background-color: #004d1a;
  color: #f0f0f0;
}

#hufflepuff {
  background-color: #e6e600;
  color: #000000;
}

#ravenclaw {
  background-color: #000080;
  color: #d5cf81;
}

button{
  border-radius: 10px;
  background-color: #e6e6e6;
  color: black;
  boder: 1px solid;
}

img {
  float: left;
  width: 400px;
  height: 400px;
}

/*버튼*/
#return {
  position: absolute;
  left: 150px; bottom: auto;
  width: 200px; height: 40px;
}

#출처 {
  position: absolute;
  right: 150px; bottom: auto;
  width: 200px; height: 40px;
}

#share {
  position: absolute;
  right: 600px; bottom: auto;
  width: 200px; height: 40px;
}
