/*바탕 이미지*/
body{
  font-family: 'Nanum Myeongjo', serif;
	text-align: center;
	background: url("1234.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	color: white;
}
/*제목 디자인*/
#title{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: auto;
}
/*유의사항*/
h4{
	line-height: 50px;
	font-size: 20px;
	opacity: 0.7;
	margin-top: 10px;
}
p{
  position: absolute; left: 100px; bottom: 50px;
  text-align: left;
  line-height: 25px;
  opacity: 0.8;
}

.arrow-btn {
  position: absolute; right: 180px; left: auto; bottom: 150px;
  color: white;
  font-size: 3.5rem;
  text-decoration: none;
  -webkit-transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  padding-right: 1.7em;
}
.arrow-btn:before {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}
.arrow-btn:hover:before {
  -webkit-transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.arrow-btn:hover:after {
  -webkit-transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  opacity: 0;
}

.arrow-btn:before, .arrow-btn:after {
  content: '\27F6';
  position: absolute;
  right: 0;
  top: 0%;
}
